* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
}
nav{
  padding: 1rem;
  border: 1px solid black;
}
article{
  margin-top: 1rem;
  padding:1rem;
  border: 1px solid black;
}
button, input{
  margin-left:0.5rem;
  padding:7px;
}
